langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.1
langgraph==0.2.32
unstructured==0.18.18
unstructured-inference==1.1.1
onnx==1.19.1
onnxruntime==1.22.0
numpy==1.26.4
faiss-cpu==1.9.0.post1
streamlit==1.51.0
pandas==2.2.3
pdfplumber==0.11.0
scikit-learn==1.5.2
textstat==0.7.4
pytesseract==0.3.13
pillow==10.4.0
pi_heif==0.18.0
protobuf==5.28.3
pdf2image==1.17.0   
